{% extends 'base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}
{% block h1 %}{{ page.name }}{% endblock %}

{% block body %}

    <p>{{ page.preview }}</p>

    {{ render(controller('App\\Controller\\PageController::preview', {request: app.request, page:page})) }}

    <p>{{ page.body }}</p>


{% endblock %}
