{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}
{% block h1 %}Page index{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pagination %}
            <tr>
                <td>{{ page.id }}</td>

                <td>
                    {% set url = '#' %}
                    {% if page.image is not empty %}
                        <a href="{{ url }}" title="{{ page.name }}" >
                            <img src="{{ app.request.getSchemeAndHttpHost }}/{{ image.load_form_path.small }}/{{ page.image }}"
                                 width="{{ image.size.small.width  }}"
                                 height="{{ image.size.small.height  }}"
                                 align="left"
                                 class="m-2"
                                 alt="{{ page.name }}"

                            >
                        </a>
                    {% endif %}
                <td>{{ page.name }}</td>
                </td>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>


                <td>{{ page.status }}</td>
                <td>
                    <a href="{{ path('app_page_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('app_page_new') }}">Create new</a>


{% endblock %}
