{% extends 'base.html.twig' %}

{% block title %} {% trans %} CacheManager {% endtrans %} {% endblock %}
{% block h1 %} {% trans %} CacheManager {% endtrans %} {% endblock %}

{% block breadcrumb %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{% trans %} Home {% endtrans %} </a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans %} Cache Manager {% endtrans %} </li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    {% set time = date().timestamp %}

    <div class="accordion" id="accordion1">
        {% for k,item in items %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button {{ loop.first ? '' : 'collapsed'}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                    {{ attribute(details, k) }}
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse {{ loop.first ? 'show'}}" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordion1">
                <div class="accordion-body">
                    {% if item is not empty %}
                         {% for userId, item_ in item %}
                            {% for item__ in item_.db_keys %}
                                <p> <strong>{% trans %} User {% endtrans %}: </strong>{{ users[userId] is defined ? users[userId].username : ' is not autorizated' }} </p>
                               <p><strong>{% trans %} Live time {% endtrans %}: </strong>
                                    {{ item_.sys.expire }}</p>
                                <hr>
                                <p><a href="{{ path('app_cache_manager_clear', {realKey:item__}) }}"class="btn btn-primary">{% trans %} Clear {% endtrans %}</a></p>

                            {% endfor %}
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
