{% extends 'base.html.twig' %}

{% block title %}{% trans %} Group index {% endtrans %}{% endblock %}
{% block h1 %}{% trans %} Group index {% endtrans %}{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %} Id {% endtrans %}</th>
                <th>{% trans %} Name {% endtrans %}</th>
                <th>{% trans %} Role {% endtrans %}</th>
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td>{{ group.role }}</td>
                <td>
                    <a href="{{ path('app_group_show', {'id': group.id}) }}">show</a>
                    <a href="{{ path('app_group_edit', {'id': group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %} no records found {% endtrans %} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_group_new') }}">{% trans %} Create new {% endtrans %} </a>
{% endblock %}
