<!DOCTYPE html>{% set activeSite = site is defined and app.request.getHost in site|keys ? attribute(site, app.request.getHost)%}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% if page.id is defined and page.id is not null %}
        {{ render(controller('App\\Controller\\SeoController::detail', {entity: page, siteId: activeSite.id})) }}
    {% endif %}

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body >

<div class="container">

    {# top menu #}
    {{ render(controller('App\\Controller\\MenuController::topMenu')) }}

    <div class="row align-items-start">
        <div class="col col-lg-3 col-md-12 col-sm-12">
            {# left menu #}
            {% include 'menu/admin_menu.html.twig' with ({items: [
                {'route' : 'app_page_index', 'title': 'Page'},
                {'route' : 'menu_admin_index', 'title': 'Menu'},
                {'route' : 'app_seo_index', 'title': 'Seo'},
                {'route' : 'app_user_index', 'title': 'Users'},
                {'route' : 'app_cache_manager', 'title': 'Cache Manager'},
                {'route' : 'app_role_new', 'title': 'Roles'},
            ]}) %}

            {{ render(controller('App\\Controller\\MenuController::leftMenu', {request: app.request})) }}

        </div>
        <div class="col col-lg-9 col-md-12 col-sm-12">

            {% if page.menu is defined and page.menu.id is defined %}
               {{ render(controller('App\\Controller\\MenuController::breadcrumbs', {node: page.menu})) }}
            {% endif %}

            <h1>{% block h1 %}{% endblock %}</h1>
            <hr>

            {% include 'elements/flush.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="wrapper flex-grow-1">
        {% if page.preview is defined and page.preview is not empty  %}
            <hr>
            {{ page.preview }}
        {% endif %}
    </div>
    <footer>
        <hr>
        {{ render(controller('App\\Controller\\MenuController::bottomMenu')) }}
    </footer>


</div>

</body>
</html>
