<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container">
    {# top menu #}
    {{ render(controller('App\\Controller\\MenuController::topMenu', {rootId: 1})) }}

    <div class="row align-items-start">
        <div class="col col-lg-3 col-md-12 col-sm-12">
            {# left menu #}
            {% include 'menu/admin_menu.html.twig' with ({items: [
                {'route' : 'app_page_index', 'title': 'Page'},
                {'route' : 'app_site_index', 'title': 'Site'},
                {'route' : 'menu_admin_index', 'title': 'Menu'},
                {'route' : 'app_user_index', 'title': 'User'},
            ]}) %}

            {{ render(controller('App\\Controller\\MenuController::leftMenu')) }}

        </div>
        <div class="col col-lg-9 col-md-12 col-sm-12">

            {% if page.menu is defined %}
                {{ render(controller('App\\Controller\\MenuController::breadcrumbs', {node: page.menu})) }}

            {% endif %}

            {% include 'elements/flush.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
