{% extends 'base.html.twig' %}

{% block title %}Seo{% endblock %}

{% block body %}
    <h1>Seo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seo.id }}</td>
            </tr>
            <tr>
                <th>Entity</th>
                <td>{{ seo.entity }}</td>
            </tr>
            <tr>
                <th>EntityId</th>
                <td>{{ seo.entityId }}</td>
            </tr>
            <tr>
                <th>SiteId</th>
                <td>{{ seo.siteId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_seo_index') }}">back to list</a>

    <a href="{{ path('app_seo_edit', {'id': seo.id}) }}">edit</a>

    {{ include('seo/_delete_form.html.twig') }}
{% endblock %}
